<template>
    <div class="row">



        <b-button @click="callRestService">callRest</b-button>
        <ul v-if="posts && posts.length">
            <li v-for="(post, i) in posts" :key="i">
                <div>{{post.name}}</div>
            </li>
        </ul>

    </div>
</template>

<script>
    import {AXIOS} from '../../http-common'
    import authHeader from "../authHeader";
    export default {


        data() {
            return {
                posts: [],
                erros: [],
            };
        },
        methods:{
            callRestService () {
                AXIOS.get(`products`, {
                    headers: authHeader()
                })
                    .then(response => {
                        console.log(response);
                        // JSON responses are automatically parsed.
                        this.posts = response.data
                    })
                    .catch(e => {
                        this.errors.push(e)
                    })
            }
        },
        mounted: function() {
            this.callRestService();
        }
    }
</script>

<style>




</style>



<!-- <ul v-if="errors && errors.length" >
     <li v-for="error of errors" :key="error">
         {{error.message}}
     </li>
 </ul>-->