<template>
    <form action="">
        <div class="add-product-container">
            <header class="modal-card-head">
                <p class="modal-card-title">Product</p>
            </header>
            <section class="modal-card-body">
                <b-field label="Name">
                    <b-input
                            type="name"
                            v-model="product.name"
                            placeholder="Product name"
                            required>
                    </b-input>
                </b-field>

                <b-field label="Product Description">
                    <b-input
                            v-model="product.description"
                            placeholder="Description"
                            required>
                    </b-input>
                </b-field>

                <b-field label="Product price">
                    <b-input
                            v-model="product.price"
                            placeholder="100"
                            type="price"
                            required>
                    </b-input>
                </b-field>
                <b-field label="img src">
                    <b-input
                            v-model="product.src"
                            placeholder="beatsEP.png"
                            required>
                    </b-input>
                </b-field>

                <b-field label="Product stock">
                    <b-input
                            v-model="product.stock"
                            placeholder="100"
                            required>
                    </b-input>
                </b-field>
                <b-field label="img src">
                    <b-input
                            v-model="product.src"
                            placeholder="beatsEP.png"
                            required>
                    </b-input>
                </b-field>


                <b-field label="Enter some categories">
                    <b-taginput
                            v-model="tags"
                            :data="filteredTags"
                            autocomplete
                            :allow-new="allowNew"
                            :open-on-focus="openOnFocus"
                            field="name"
                            icon="fas fa-tags"
                            placeholder="Add categories"
                            @typing="getFilteredTags">
                    </b-taginput>
                </b-field>
                <pre style="max-height: 400px"><b>Tags:</b>{{ tags }}</pre>




            </section>
            <footer class="modal-card-foot">
                <button class="button" type="button" @click="$parent.close()">Close</button>
                <button class="button is-primary" @click="addProduct">addProduct</button>
            </footer>
        </div>
    </form>
</template>

<script>
    import apiService from "../services/apiService";

    export default {

        created: function () {
            apiService.getAllCategories().then(result => {
                this.categories = result.data;
                console.log(this.categories);
            }) .catch(e => {
                console.log(e);
            });
        },

        data () {
            return {
                categories: [
                    {
                        "id": 1,
                        name: "Headphones",
                        "description": "Headphones (or head-phones in the early days of telephony and radio) traditionally refer to a pair of small loudspeaker drivers worn on or around the head over a user's ears.",
                        "links": []
                    },
                ],



                filteredTags: this.categories,
                isSelectOnly: false,
                tags: [],
                allowNew: false,
                openOnFocus: true,

                //selectedFile: null
                product:{
                    name: "",
                    description: "",
                    price: 99919,
                    src: "",
                    categories: this.tags,
                    stock: 0,
                },
            }
        },
        methods: {
            /*onFileSelected(event) {
                this.selectedFile = event.target.files[0]
            },*/
            addProduct() {
                this.product.categories = this.tags;
                console.log(this.product.categories);
                apiService.addProduct(this.product).then(result => {
                    console.log(result);
                }) .catch(e => {
                    console.log(e);
                });
            },
            getFilteredTags(text) {
                this.filteredTags = this.categories.filter((option) => {
                    return option.name
                        .toString()
                        .toLowerCase()
                        .indexOf(text.toLowerCase()) >= 0
                })
            }
        }
    }
</script>

<style scoped>
    .add-product-container{
        width: 80%;
        margin: auto;
    }


</style>