<template>
    <section>
        <DeleteProductModal v-on:toggleDeleteProductModal="toggleModal" v-bind:isModalActive="this.deleteProductModalIsActive" v-bind:product="this.product"/>
        <b-field grouped group-multiline>

        </b-field>

        <b-table
                :data="isEmpty ? [] : products"
                :bordered="isBordered"
                :striped="isStriped"
                :narrowed="isNarrowed"
                :hoverable="isHoverable"
                :loading="isLoading"
                :focusable="isFocusable"
                :mobile-cards="hasMobileCards"
                :searchable="searchable">

            <template>
                <b-table-column field="id" label="ID" width="40" numeric>
                </b-table-column>
            </template>


            <template slot-scope="props">
                <b-table-column field="id" label="ID" width="40" numeric>
                    {{ props.row.id }}
                </b-table-column>

                <b-table-column field="name" label="Name">
                    {{ props.row.name }}
                </b-table-column>

                <b-table-column field="price" label="Price">
                    €{{ props.row.price }}
                </b-table-column>
                <b-table-column field="stock" label="Stock">
                    {{ props.row.stock }}
                </b-table-column>

                <b-table-column field="categories" label="Categories" centered>
                    <span class="tag is-success">
                        {{ getCategory(props.row.categories) }}
                    </span>
                </b-table-column>


                <b-table-column field="edit" label="Edit" centered v-on:click.native="editProduct(props.row.id)">
                    <span class="tag is-success">
                        EDIT
                    </span>
                </b-table-column>

                <!--<b-table-column field="add" label="Add" centered>
                    <span class="tag is-success">
                        {{ addProduct(props.row) }}
                    </span>
                </b-table-column>-->


                <b-table-column field="delete" label="Delete" centered v-on:click.native="deleteProduct(props.row)">
                    <span class="tag is-warning">
                        DELETE
                    </span>
                </b-table-column>

                <!--<b-table-column field="date" label="Date" centered>
                    <span class="tag is-success">
                        {{ new Date(props.row.date).toLocaleDateString() }}
                    </span>
                </b-table-column>-->


            </template>

            <template slot="empty">
                <section class="section">
                    <div class="content has-text-grey has-text-centered">
                        <p>
                            <b-icon
                                    icon="emoticon-sad"
                                    size="is-large">
                            </b-icon>
                        </p>
                        <p>Nothing here.</p>
                    </div>
                </section>
            </template>
        </b-table>
    </section>
</template>

<script>
    import {AXIOS} from "../../http-common";
    import authHeader from "../authHeader";
    import DeleteProductModal from "./DeleteProductModal";

    export default {
        components:{
            DeleteProductModal
        },
        props:{
            deleteProductModalIsActive: Boolean
        },
        data() {
            return {
                isEmpty: false,
                isBordered: false,
                isStriped: false,
                isNarrowed: true,
                isHoverable: true,
                isFocusable: false,
                isLoading: false,
                hasMobileCards: true,
                searchable: true,
                search: '',
                arrow: true,
                arrowHover: true,
                drag: true,
                gray: true,
                opacity: false,
                values: 1,
                perList: 1,
                repeat: true,
                items: [],
                products: [],
                currentCategory: '',
                urlParameter: this.$route.params.productName,
                oldUrlParameter: this.$route.params.productName,
                loadingComponent: {},
                pageNr: 0,
                product: ''
            }
        },
        methods: {
            toggleModal(){
                this.deleteProductModalIsActive = !this.deleteProductModalIsActive;
            },
            editProduct(productId){
                console.log("editing");
                this.$router.push('/editProduct/' + productId).catch((err) => {
                    throw new Error(`Problem handling something: ${err}.`);
                });
            },
            deleteProduct(product){
                this.product = product;
                this.toggleModal();
            },
            goToProductPage(productId){
                this.$router.push('/products/productInfo/' + productId)
            },
            getPageNr(){
                this.pageNr = JSON.parse(localStorage.getItem('pageNr'));
                if ( this.pageNr == null){
                    this.pageNr = 0;
                }
                localStorage.setItem('pageNr', JSON.stringify( this.pageNr));
                console.log( this.pageNr);
                return this.pageNr;
            },
            addPageNr(){
                this.pageNr = JSON.parse(localStorage.getItem('pageNr'));
                if ( this.pageNr != null){
                    this.pageNr += 1;
                }
                else{
                    this.pageNr = 0;
                }
                console.log( this.pageNr);
                localStorage.setItem('pageNr', JSON.stringify( this.pageNr));
                this.getProducts();
            },
            getProducts() {
                this.loadingComponent = this.$buefy.loading.open();
                let self = this;
                AXIOS.get(`products`,{
                    headers: authHeader(),
                    params: {
                        pageNr: this.getPageNr()
                    }
                })
                    .then(response => {
                        // JSON responses are automatically parsed.
                        this.products = response.data;
                        console.log(this.products);
                    })
                    .catch(e => {
                        console.log(e);
                    })
                    .finally(function () {
                        setTimeout(() => {
                            self.loadingComponent.close();
                        }, 10 * 50)
                    });
            },
            changeCategoryFilter(category){
                this.currentCategory = category;
                for (this.product in this.filteredProducts){
                    for (this.cat in this.product.categories){
                        this.fileredProducts = this.cat.toLowerCase().match(category.toLowerCase());
                    }
                }
                return this.filteredProducts;
            },
            getCategory(categories){
                if (categories[0]){
                    return categories[0].name;
                }
            }
        },
        mounted: function () {
            this.deleteProductModalIsActive = false;
            this.pageNr = 0;
            this.getPageNr();
            this.getProducts();
        }
    }
</script>