<template>
    <div class="row">
        <div class="col-25">
            <div class="container">
                <h4>Cart
                    <span class="price" style="color:black">
          <em class="fa fa-shopping-cart"></em>
        </span>
                </h4>
                <ul>
                    <li v-for="(product, index) in this.productsInCart" :key="index">
                        <p><a >{{product.name}}</a> <span class="price">€{{product.price}}</span></p>
                    </li>
                </ul>
                <hr>
                <p>Total <span class="price" style="color:black"><strong>€{{this.totalPrice}}</strong></span></p>
            </div>
        </div>


        <div class="col-75">
            <div class="container">
                <form>

                    <div class="row">
                        <div class="col-50">
                            <h3>Billing Address</h3>
                            <label for="fname"><em class="fa fa-user"></em> Full Name</label>
                            <input type="text" id="fname" name="firstname" placeholder="Tim Chermin">
                            <label for="email"><em class="fa fa-envelope"></em> Email</label>
                            <input type="text" id="email" name="email" placeholder="Tim@hotmail.com">
                            <label for="adr"><em class="fas fa-address-card"></em> Address</label>
                            <input type="text" id="adr" name="address" placeholder="Rachelsmolen 1">
                            <label for="city"><em class="fas fa-city"></em> City</label>
                            <input type="text" id="city" name="city" placeholder="Eindhoven">
                        </div>

                        <div class="col-50">
                            <h3>Payment</h3>
                            <label for="fname">Accepted Payment Methods</label>
                            <div class="icon-container">
                                <em class="fab fa-cc-visa" style="color:navy;"></em>
                                <em class="fab fa-cc-amex" style="color:blue;"></em>
                                <em class="fab fa-cc-mastercard" style="color:red;"></em>
                                <em class="fab fa-cc-discover" style="color:orange;"></em>
                                <em class="fab fa-ideal" style="color: hotpink"></em>
                                <em class="fab fa-paypal" style="color: cornflowerblue"></em>
                            </div>
                            <label for="cname">Name on Card</label>
                            <input type="text" id="cname" name="cardname" placeholder="Tim Chermin">
                            <label for="ccnum">Credit card number</label>
                            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                            <label for="expmonth">Exp Month</label>
                            <input type="text" id="expmonth" name="expmonth" placeholder="February">
                        </div>

                    </div>
                    <label>
                        <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                    </label>
                    <input type="submit" value="Continue" class="btn">
                </form>
            </div>
        </div>
        <div v-on:click="productOrders()">CLICK HERE TO ORDER FOR NOW</div>


    </div>
</template>

<script>
    import apiService from "../services/apiService";

    export default {
        data() {
            return {
                productsInCart: [
                    {
                        id: 1,
                        name: "Testing edit",
                        price: 100,
                        src: "beatsEP.jpg",
                        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.",
                        categories: [
                            {
                                id: 1,
                                name: "Headphones",
                                description: "Headphones (or head-phones in the early days of telephony and radio) traditionally refer to a pair of small loudspeaker drivers worn on or around the head over a user's ears.",
                                "links": []
                            }
                        ],
                        stock: 100,
                        "links": []
                    }
                ],
                totalPrice: 10,
                userOrder: {
                    userId: 0,
                    priceOnOrder: this.totalPrice,
                    dateOnOrder: this.getDate(),
                    products: [
                        {
                            id: 1,
                            name: "Testi",
                            price: 10,
                            src: "beatsEP.jpg",
                            description: "Lorem sum dolor sit amet, consetur adipiscing elit. Phasellus nec iaculis mauris.",
                            categories: [
                                {
                                    id: 1,
                                    name: "Headphones",
                                    description: "Headphones (or head-phones in the early days of telephony and radio) traditionally refer to a pair of small loudspeaker drivers worn on or around the head over a user's ears.",
                                    links: []
                                }
                            ],
                            stock: 100,
                            links: []
                        }
                    ]
                }
            }
        },
        methods: {
            getTotalPrice(){
                if (this.productsInCart.length !== 0){
                    this.totalPrice = 0;
                    this.productsInCart.forEach(this.myFunction);
                }
                return this.totalPrice;
            },
            productOrders(){
                    this.loadingComponent = this.$buefy.loading.open();
                    let self = this;
                    const currentUser = JSON.parse(localStorage.getItem("user"));
                    this.userOrder.products = this.productsInCart;
                    this.userOrder.priceOnOrder = this.totalPrice;
                    this.userOrder.dateOnOrder = new Date().getTime();
                    console.log(this.userOrder.dateOnOrder);
                    apiService.addOrder(currentUser, this.userOrder).then(result => {
                        console.log(result);
                    }) .catch(e => {
                        console.log(e);
                    })
                        .finally(function () {
                            setTimeout(() => {
                                self.loadingComponent.close();
                            }, 10 * 50)
                        });
            },
            getDate(){
                var currentdate = new Date();
                return currentdate.getMilliseconds();
            },
            myFunction(value) {
                this.totalPrice += +value.price;
        }
        },
        mounted() {
            this.productsInCart = JSON.parse(localStorage.getItem('productInCart'));
            this.getTotalPrice();
        }
    }

</script>

<style scoped src="../assets/css/Checkout.css">


</style>