<template>
    <div class="main">
        <b-modal @close="toggleModal" :active.sync="isModalActive">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title" style="text-align: center"> Are you sure you want to delete</p>
                </header>
                <section class="modal-card-body">
                    <b-field class="delete-card-body" label="Name">
                            {{this.product.name}}
                    </b-field>
                    <b-field class="delete-card-body" label="Price">
                        {{this.product.price}}
                    </b-field>
                    <b-field class="delete-card-body" label="Category">
                            {{ getCategory(this.product.categories) }}
                    </b-field>


                    <br>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click="toggleModal">Close</button>
                    <button class="button is-danger" v-on:click="deleteProduct">Delete</button>
                </footer>
            </div>
        </b-modal>
    </div>
</template>

<script>
    import apiService from "../services/apiService";

    export default {
        name: "DeleteProductModal",
        props:{
            isModalActive: Boolean,
            product: Object
        },
        data(){
            return{

            }
        },

        methods: {
            toggleModal(){
                this.$emit("toggleDeleteProductModal");
            },
            deleteProduct(){
                console.log(this.product.id);
                apiService.deleteProduct(this.product.id).then(result => {
                    console.log(result);
                }) .catch(e => {
                    console.log(e);
                });
            },
            getCategory(categories){
                if (categories[0]){
                    return categories[0].name;
                }
            }
        }
    }
</script>

<style scoped>

    .delete-card-body{
        margin-bottom: 0.75rem;
        float: left;
        margin-right: 100px;
    }


</style>