<template>
    <form action="">
        <div class="modal-card" style="width: auto">
            <header class="modal-card-head">
                <p class="modal-card-title">Login</p>
            </header>
            <section class="modal-card-body">
                <b-field label="UserName">
                    <b-input type="userName" v-model="userNameLogin" placeholder="Your userName" required></b-input>
                </b-field>

                <b-field label="Password">
                    <b-input type="password" v-model="passwordLogin" password-reveal placeholder="Your password" required></b-input>
                </b-field>

                <b-checkbox>Remember me</b-checkbox>
            </section>
            <footer class="modal-card-foot">
                <button class="button" type="button" @click="$parent.close()">Close</button>
                <button class="button is-primary" @click="loginUser">Login</button>
            </footer>
        </div>
    </form>
</template>


<script>
    import {AXIOS} from "../../http-common";
    import popupMessage from "../services/popupMessage";

    export default {
        data() {
            return {
                userNameLogin: '',
                passwordLogin: '',
                loggedIn: false,

            }
        },
        methods: {
            successfulLogin(){
                popupMessage(`Login successful!`, "is-success");
            },
            loginUser() {
                AXIOS.post(`login`,{
                    name: this.userNameLogin,
                    password: this.passwordLogin,
                    email: "Tim@hotmail.com"
                })
                .then(response => {
                    if (response.data.token) {
                        localStorage.setItem('userToken', JSON.stringify(response.data.token));
                        this.loggedIn = true;
                        this.successfulLogin();
                        localStorage.setItem('user', JSON.stringify(this.userNameLogin));
                        this.$router.push('/allProducts');
                    }

                    return response.data;

                })
                .catch(e => {
                    popupMessage(`Wrong login, please try again...`, "is-danger");
                    console.log(e);
                })
            },


        }
    }
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

    /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 650px) {

    }
</style>