<template>
    <b-navbar class="shadow">
        <meta name="Navbar" content="navbar of tolcom">
        <template slot="brand">
            <b-navbar-item tag="router-link" :to="{ path: '/' }">Tol.com</b-navbar-item>
        </template>
        <template slot="start">
            <b-navbar-item tag="router-link" :to="{ path: '/' }">Home</b-navbar-item>

            <b-navbar-item tag="router-link" :to="{ path: '/about' }">About</b-navbar-item>

            <b-navbar-dropdown label="Info">
                <b-navbar-item tag="router-link" :to="{ path: '/about' }">
                    Products
                </b-navbar-item>
                <b-navbar-item tag="router-link" :to="{ path: '/about' }">
                    Contact
                </b-navbar-item>
            </b-navbar-dropdown>
            <label class="navbar-item">Other products
            <b-input type="text" placeholder="Search all products" class="navbar-item" v-model="searchProduct" v-on:click="searchByName()"> </b-input>
            </label>
            <div class="buttons">
                <a class="button is-success" v-on:click="searchByName()">
                    <strong>Search</strong>
                </a>
            </div>
        </template>

        <template slot="end">
            <b-navbar-item tag="div">
                <b-dropdown class="dropdown-cart" aria-role="list">
                    <button class="button is-primary" type="button" slot="trigger">
                        <template>
                            <span>Shopping cart</span>
                        </template>
                        <b-icon icon="fas fa-shopping-cart"/>
                    </button>

                    <div class="shopping-cart-container">
                        <div class="shopping-cart">
                            <div class="shopping-cart-header">
                                <em class="fa fa-shopping-cart cart-icon"></em><span class="badge">{{this.getCountInCart()}}</span>
                                <div class="shopping-cart-total">
                                    <span class="lighter-text">Total:</span>
                                    <span class="main-color-text">€{{this.calculateTotalPrice()}}</span>
                                </div>
                            </div> <!--end shopping-cart-header -->

                            <ul class="shopping-cart-items">
                                <li v-for="(data, index) in this.productsNavBar" :key="index">
                                    <div class="shopping-cart-items-left" v-on:click="goToProductPage(data.id)">
                                        <img :src="require(`../assets/images/products/${data.src}`)"  alt="Placeholder image">
                                        <span class="item-name">{{data.name}}</span>
                                        <span class="item-price">€{{data.price}}</span>
                                        <span class="item-quantity">Quantity: 01</span>
                                    </div>
                                    <div class="shopping-cart-items-right" v-on:click="removeProductFromCart(data)">
                                        <em class="fa fa-times" id="cart-remove"></em>
                                    </div>
                                </li>
                            </ul>

                            <router-link to="/checkout">
                                <a class="button is-success">Checkout</a>
                            </router-link>
                        </div>
                    </div>
                </b-dropdown>
            </b-navbar-item>

            <b-navbar-item tag="div">
                <div class="buttons" id="BtnsLoggedInOrOut">
                    <span v-if="!loggedIn">
                        <router-link to="/register">
                            <a class="button is-success" ><strong>Sign up</strong></a>
                        </router-link>


                        <router-link to="/login">
                            <a class="button is-light">Log in</a>
                        </router-link>
                    </span>
                    <span v-else>
                        <a class="button is-danger" v-on:click="logout()"><strong>Logout</strong></a>
                    </span>
                </div>
            </b-navbar-item>
        </template>
    </b-navbar>
</template>


<script>

    export default {
        productsNavBar: [],
        components: {

        },
        data() {
            return {
                searchProduct: '',
                product: '',
                productsNavBar: [],
                loggedIn: false,
                totalPrice: 0,
            }
        },
        methods: {
            calculateTotalPrice(){
                /*if (this.productsNavBar !== null && this.productsNavBar.length !== null) {
                    this.totalPrice = 0;
                    for (const product in this.productsNavBar){
                        this.totalPrice += product.price;
                    }
                    return this.totalPrice;
                }*/
                return 0;
            },
            getCountInCart(){
                if (this.productsNavBar !== null && this.productsNavBar.length !== null){
                    return this.productsNavBar.length
                }
                return 0;
            },
            successfulLogout(){
                this.$buefy.notification.open({
                    duration: 5000,
                    message: `Logout successful!`,
                    position: "is-bottom-right",
                    type: "is-success",
                    hasIcon: true,
                    closable: false
                });
            },
            logout(){
                localStorage.removeItem("userToken");
                this.loggedIn = false;
                this.successfulLogout();
                localStorage.removeItem("user");
                this.$router.push('/login');
            },
            searchByName(){
                if (this.searchProduct !==  ""){
                    this.$router.push('/products/search/' + this.searchProduct)
                }
            },
            goToProductPage(productId){
                this.$router.push('/products/productInfo/' + productId)
            },
            checkLogin(){
                this.loggedIn = !!localStorage.getItem("userToken");
            },
            removeProductFromCart(data){
                this.productsNavBar = JSON.parse(localStorage.getItem('productInCart'));
                for (let i = 0; i < this.productsNavBar.length; i++) {
                    if (this.productsNavBar[i].id === data.id){
                        let removeIndex = this.productsNavBar.indexOf(this.productsNavBar[i]);
                        this.productsNavBar.splice(removeIndex, 1);
                    }
                }
                localStorage.setItem('productInCart', JSON.stringify(this.productsNavBar));
            }

        },
        watch: {
            '$route' (newValue, oldValue) {
                this.checkLogin();
                newValue = oldValue;
            }
        },
        mounted: function () {
            this.productsNavBar = JSON.parse(localStorage.getItem('productInCart'));
            this.checkLogin();
        }
    }
            /* AXIOS.get(`products/nameLike`, {
                    params: {
                        name: "eats"
                    },
                    headers: authHeader()
                })
                    .then(response => {

                        console.log(response);
                        // JSON responses are automatically parsed.
                        //this.productsNavBar = response.data;
                        console.log(this.products)
                    })
                    .catch(e => {
                        console.log(e);
                    });*/
</script>

<style scoped src="../assets/css/ShoppingCart.css">

</style>