<template>
    <div class="column">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img :src="require(`../assets/images/products/${userOrder.src}`)" v-on:click="goToProductPage(userOrder.productId)"  alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img :src="require(`../assets/images/products/${userOrder.src}`)" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4" v-on:click="goToProductPage(userOrder.productId)">{{userOrder.name}}</p>
                        <p class="subtitle is-6">@{{userOrder.name}}</p>
                    </div>
                </div>

                <div class="content">{{userOrder.description}}<a>@{{userOrder.name}}</a></div>


                <div class="product-price">
                    <span>€{{userOrder.productPriceOnOrder}} </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "OrderProductCard",
        props: {userOrder: Object},

        data(){
            return{
                productsInOrder: [],
            }
        },
        methods: {
            goToProductPage(productId){
                this.$router.push('/products/productInfo/' + productId)
            },
        }
    }
</script>

<style scoped src="../assets/css/ProductListCards.css">

</style>