<template>
    <section>
        <div>
           Total price on order €{{userOrder[0].priceOnOrder}}

        </div>

        <div class="row">
            <div v-for="userOrder in userOrder" v-bind:key="userOrder.name">
                <OrderProductCard v-bind:userOrder="userOrder"/>
            </div>
        </div>
    </section>
</template>

<script>
    import OrderProductCard from './OrderProductCard';
    import apiService from "../services/apiService";

    export default {
        name: "Order.vue",
        components:{
            OrderProductCard
        },
        data() {
            return {
                isEmpty: false,
                loadingComponent: {},
                product: '',
                userOrder: [
                {
                    id: 0,
                    name: "Philips Curvo Monitor",
                    src: "PhilipsCurvoMonitor.jpg",
                    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.",
                    orderId: 2,
                    productId: 2,
                    productPriceOnOrder: 12,
                    userId: 8,
                    priceOnOrder: 423,
                    dateOnOrder: "2020-05-28T00:00:00.000+0000",
                    links: []
                }
            ]
            }
        },
        methods: {
            getOrder() {
                this.loadingComponent = this.$buefy.loading.open();
                let self = this;
                const currentUser = JSON.parse(localStorage.getItem("user"));
                apiService.getOrder(currentUser, this.$route.params.orderId).then(result => {
                    console.log(result);
                    console.log(result.data);
                    this.userOrder = result.data;
                    console.log(this.userOrder);
                }) .catch(e => {
                    console.log(e);
                })
                    .finally(function () {
                        setTimeout(() => {
                            self.loadingComponent.close();
                        }, 10 * 50)
                    });
            },
        },
        mounted: function () {
            console.log("mounted");
            this.getOrder();
        }
    }
</script>

<style scoped>

</style>