<template>
    <div class="column">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img :src="require(`../assets/images/products/${product.src}`)" v-on:click="goToProductPage(product.id)"  alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img :src="require(`../assets/images/products/${product.src}`)" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4" v-on:click="goToProductPage(product.id)">{{product.name}}</p>
                        <p class="subtitle is-6">@{{product.name}}</p>
                    </div>
                </div>

                <div class="content">{{product.description}}<a>@{{product.name}}</a>
                </div>
                <div class="product-price">
                    <span>€{{product.price}} </span>
                    <button class="button is-success" v-on:click="addToCart(product)">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import authHeader from "../authHeader";
    import popupMessage from "../services/popupMessage";

    export default {
        name: "ProductCard",
        props: {product: Object},

        data(){
            return{
                productsInCart: [],
            }
        },
        methods: {
            goToProductPage(productId){
                this.$router.push('/products/productInfo/' + productId)
            },
            addToCart(product){
                if (authHeader() !== null ){
                    if (JSON.parse(localStorage.getItem('productInCart')) !== null){
                        this.productsInCart = JSON.parse(localStorage.getItem('productInCart'));
                    }
                    this.productsInCart.push(product);
                    localStorage.setItem('productInCart', JSON.stringify(this.productsInCart));
                    popupMessage(product.name + ": Added to the cart", "is-success");
                    return;
                }
                popupMessage("Please login before adding something to your cart", "is-danger");
                this.$router.push('/login');
            }
        }
    };
</script>

<style scoped src="../assets/css/ProductListCards.css">

</style>