<template>
  <main>
    <meta name="Products" content="Shows products sold on tolcom">
    <div class="holder">
      <section>
        <b-carousel class="carousel">
        <b-carousel-item v-for="(item, i) in items" :key="i" >
            <span>
                <img class="carousel-image" v-on:click="goToProductPage(item.productId)" :src="require(`../assets/images/banners/${item.src}`)" alt="Images not found">
            </span>
        </b-carousel-item>
        </b-carousel>
      </section>

      <div>
        <label>
          Select a category
        <b-input class="search" v-model="search" placeholder="Search products..." type="search" icon="fa-search"></b-input>
        </label>
          <b-dropdown aria-role="list">
          <button class="button is-primary" slot="trigger">
            <span>Category</span>
            <b-icon :icon="'fas fa-arrow-down'"></b-icon>
          </button>

          <b-dropdown-item aria-role="listitem" v-on:click="changeCategoryFilter('')">All</b-dropdown-item>
          <b-dropdown-item aria-role="listitem" v-on:click="changeCategoryFilter('Computers')">Computers</b-dropdown-item>
          <b-dropdown-item aria-role="listitem"  v-on:click="changeCategoryFilter('Headphones')">Headphones</b-dropdown-item>
          <b-dropdown-item aria-role="listitem"  v-on:click="changeCategoryFilter('Boardgame')">Boardgame</b-dropdown-item>
        </b-dropdown>
      </div>

      <div class="row">
        <div v-for="product in filteredProducts" v-bind:key="product.id">
          <ProductCard v-bind:product="product"/>
        </div>
      </div>

      <div class="more-button">
        <b-button type="is-info" class="more-products-button" v-on:click="addPageNr()">More products..</b-button>

      </div>

     <!-- <div>
        <ValidationObserver v-slot="{ handleSubmit }">
          <form @submit.prevent="handleSubmit(addProduct)">
            <ValidationProvider rules="min:5" v-slot="{ errors }">
              <label>
                <input v-model="product" type="text" placeholder="Add product">
              </label>
              <span>{{ errors[0]}}</span>
            </ValidationProvider>
          </form>
        </ValidationObserver>
      </div>


      <p>These are all the products</p>
      <ul>
        <li v-for="(data, index) in products" :key="index"> <router-link to="/products/1">{{data.product}}</router-link> </li>
      </ul>

      <p v-if="products.length > 1">You have more than 1 product</p>
      <p v-else>You have less then 1 product</p>-->

    </div>
  </main>
</template>

<script>
  import {AXIOS} from "../../http-common";
  import authHeader from '../authHeader';
  import ProductCard from './ProductCard';

  export default {
    name: 'Products',
    validField: false,
    components: {
      ProductCard
    },
    data() {
      return {
        search: '',
        arrow: true,
        arrowHover: true,
        drag: true,
        gray: true,
        opacity: false,
        values: 1,
        perList: 1,
        repeat: true,
        items: [],
        products: [],
        currentCategory: '',
        urlParameter: this.$route.params.productName,
        oldUrlParameter: this.$route.params.productName,
        loadingComponent: {},
        pageNr: 0
      }
    },
    methods: {
      goToProductPage(productId){
        this.$router.push('/products/productInfo/' + productId)
      },
      getPageNr(){
        this.pageNr = JSON.parse(localStorage.getItem('pageNr'));
        if ( this.pageNr == null){
          this.pageNr = 0;
        }
        localStorage.setItem('pageNr', JSON.stringify( this.pageNr));
        console.log( this.pageNr);
        return this.pageNr;
      },
      addPageNr(){
        this.pageNr = JSON.parse(localStorage.getItem('pageNr'));
        if ( this.pageNr != null){
          this.pageNr += 1;
        }
        else{
          this.pageNr = 0;
        }
        console.log( this.pageNr);
        localStorage.setItem('pageNr', JSON.stringify( this.pageNr));
        this.getProducts();
      },
      getProducts() {
        this.loadingComponent = this.$buefy.loading.open();
        let self = this;
        if (this.$route.params.productName === undefined) {
          AXIOS.get(`products`,{
              headers: authHeader(),
            params: {
              pageNr: this.getPageNr()
            }
          })
            .then(response => {
              // JSON responses are automatically parsed.
              this.products = response.data;
            })
            .catch(e => {
              console.log(e);
            })
            .finally(function () {
              setTimeout(() => {
                self.loadingComponent.close();
              }, 10 * 50)
            });
        } else {
          AXIOS.get(`products/nameLike`, {
            params: {
              name: this.$route.params.productName
            },
            headers: authHeader()
          })
            .then(response => {

              console.log(response);
              // JSON responses are automatically parsed.
              this.products = response.data;
            })
            .catch(e => {
              console.log(e);
            }).finally(function () {
            setTimeout(() => {
              self.loadingComponent.close();
            }, 10 * 50)
          });
        }
      },
      changeCategoryFilter(category){
        this.currentCategory = category;
        for (this.product in this.filteredProducts){
          for (this.cat in this.product.categories){
            this.fileredProducts = this.cat.toLowerCase().match(category.toLowerCase());
          }
        }
        return this.filteredProducts;
      },
    },
    watch: {
      '$route' (newValue, oldValue) {
        this.pageNr = 0;
        this.getProducts();
        console.log(newValue + " and " + oldValue)
      }
    },
    computed: {
      filteredProducts: function(){
        return this.products.filter((product) => {
          if (this.currentCategory !== ''){
            const categories = product.categories;
            for (const category in categories){
              if (this.currentCategory.toLowerCase().match(categories[category].name.toLowerCase())){
                return product.name.toLowerCase().match(this.search.toLowerCase());
              }
            }
            return;
          }
          return product.name.toLowerCase().match(this.search.toLowerCase());
        });
      }
    },
    mounted: function () {
      this.pageNr = 0;
      this.getPageNr();
        this.getProducts();

        AXIOS.get('carouselItems',{
          headers: authHeader()
        })
          .then(response => {
            // JSON responses are automatically parsed.
            this.items = response.data
          })
          .catch(e => {
            console.log(e);
          });
    }
  }
  import { extend } from 'vee-validate';

  extend('min', {
    validate(value, args) {
      if (value.length >= args.length){
        return true;
      }
      return "This field must have " + args.length + " or more symbols";
    },
    params: ['length']
  });

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<!-- <style src="./Products.css" scoped> -->
<style scoped src="../assets/css/ProductListCards.css">

</style>
