<template>
    <main class="container">

        <!-- Left Column / Image -->
        <div class="left-column">
            <img :src="require(`../assets/images/products/${product.src}`)" alt="image not found">
        </div>


        <div class="right-column">
            <div class="product-description">
                <span class="span">{{product.categories[0].name}}</span>
                <div class="striped-top"></div>
                <h1 class="h1">{{product.name}}</h1>
                <p>{{product.description}}</p>
            </div>

            <div class="product-price">
                <span>€100 </span>
                <button class="button is-success" v-on:click="addToCart(product)">Add to cart</button>
            </div>
        </div>
    </main>
</template>

<script>
    import {AXIOS} from "../../http-common";
    import authHeader from "../authHeader";
    import popupMessage from "../services/popupMessage";

    export default {
        data(){
            return{
                product: "test",
            }
        },
        methods:{
            addToCart(product){
                if (authHeader() !== null ){
                    if (JSON.parse(localStorage.getItem('productInCart')) !== null){
                        this.productsInCart = JSON.parse(localStorage.getItem('productInCart'));
                    }
                    this.productsInCart.push(product);
                    localStorage.setItem('productInCart', JSON.stringify(this.productsInCart));
                    return;
                }
                popupMessage("Please login before adding something to your cart", "is-danger");
                this.$router.push('/login');
            },
        },
        mounted: function () {
            AXIOS.get(`products/productInfo/` + this.$route.params.productId, {
                headers: authHeader()
            })
                .then(response => {
                    console.log(response);
                    // JSON responses are automatically parsed.
                    this.product = response.data;
                })
                .catch(e => {
                    this.errors.push(e)
                });
        }
    }
</script>

<style scoped src="../assets/css/productinformation.css">

</style>