<template>
    <form action="">
        <div class="modal-card" style="width: auto">
            <header class="modal-card-head">
                <p class="modal-card-title">Register</p>
            </header>
            <section class="modal-card-body">
                <b-field label="UserName">
                    <b-input type="userName" v-model="userName" placeholder="Your userName" required></b-input>
                </b-field>

                <b-field label="Mail">
                    <b-input type="mail" v-model="email" placeholder="Your email" required></b-input>
                </b-field>

                <b-field label="Password">
                    <b-input type="password" v-model="password" password-reveal placeholder="Your password" required>
                    </b-input>
                </b-field>

                <b-checkbox>Remember me</b-checkbox>
            </section>
            <footer class="modal-card-foot">
                <button class="button" type="button" @click="$parent.close()">Close</button>
                <button class="button is-primary" v-on:click="signUpUser()">Register</button>
            </footer>
        </div>
    </form>
</template>


<script>
    import {AXIOS} from "../../http-common";
    import popupMessage from "../services/popupMessage";

    export default {
        data() {
            return {
                userName: '',
                password: '',
                email: '',
            }
        },
        methods: {
            signUpUser() {
                console.log(this.userName);
                console.log(this.password);
                console.log(this.email);

                AXIOS.post(`users/sign-up`,{
                    name: this.userName,
                    password: this.password,
                    email: this.email
                })
                .then(response => {
                    response;
                    popupMessage(`Register successful!`, "is-success");
                    this.$router.push('/login');
                })
                .catch(e => {
                    popupMessage(`Something went wrong, please try again...`, "is-danger");
                    console.log(e);
                })
            }
        },
    }

</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
    * {box-sizing: border-box}


</style>