<template>
    <section>

        <b-table
                :data="isEmpty ? [] : userOrders"
                :bordered="isBordered"
                :striped="isStriped"
                :narrowed="isNarrowed"
                :hoverable="isHoverable"
                :loading="isLoading"
                :focusable="isFocusable"
                :mobile-cards="hasMobileCards"
                :searchable="searchable">

            <template>
                <b-table-column field="id" label="ID" width="40" numeric>
                </b-table-column>
            </template>


            <template slot-scope="props" @click.native="goToOrderPage(props.row.orderId)" >
                <b-table-column field="id" label="orderId" width="40" numeric  @click.native="goToOrderPage(props.row.orderId)">
                    {{ props.row.orderId }}
                </b-table-column>

                <b-table-column field="name" label="Name first product" @click.native="goToOrderPage(props.row.orderId)">
                    {{ props.row.name }}
                </b-table-column>

                <b-table-column field="price" label="Total price when bought" @click.native="goToOrderPage(props.row.orderId)">
                    €{{ props.row.priceOnOrder }}
                </b-table-column>

                <b-table-column field="date" label="Date" centered @click.native="goToOrderPage(props.row.orderId)">
                    <span class="tag is-success">
                        {{ new Date(props.row.dateOnOrder).toLocaleDateString() }}
                    </span>
                </b-table-column>

            </template>

            <template slot="empty">
                <section class="section">
                    <div class="content has-text-grey has-text-centered">
                        <p>
                            <b-icon
                                    icon="emoticon-sad"
                                    size="is-large">
                            </b-icon>
                        </p>
                        <p>Nothing here.</p>
                    </div>
                </section>
            </template>
        </b-table>
    </section>
</template>

<script>
    import apiService from "../services/apiService";

    export default {
        data() {
            return {
                isEmpty: false,
                isBordered: false,
                isStriped: false,
                isNarrowed: true,
                isHoverable: true,
                isFocusable: false,
                isLoading: false,
                hasMobileCards: true,
                searchable: true,
                search: '',
                arrow: true,
                arrowHover: true,
                drag: true,
                gray: true,
                opacity: false,
                values: 1,
                perList: 1,
                repeat: true,
                items: [],
                loadingComponent: {},
                product: '',
                userOrders: [
                    {
                        id: 0,
                        name: "Philips Curvo Monitor",
                        src: "PhilipsCurvoMonitor.jpg",
                        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.",
                        orderId: 2,
                        productId: 2,
                        productPriceOnOrder: 12,
                        userId: 8,
                        priceOnOrder: 423,
                        dateOnOrder: "2020-05-28T00:00:00.000+0000",
                        links: []
                    }
                ]
            }
        },
        methods: {
            getOrders() {
                this.loadingComponent = this.$buefy.loading.open();
                let self = this;
                const currentUser = JSON.parse(localStorage.getItem("user"));
                apiService.getOrders(currentUser).then(result => {
                    this.userOrders = result.data;
                    console.dir(this.userOrders);
                    console.log(this.userOrders);
                }) .catch(e => {
                    console.log(e);
                })
                    .finally(function () {
                        setTimeout(() => {
                            self.loadingComponent.close();
                        }, 10 * 50)
                    });
            },
            goToOrderPage(orderId){
                this.$router.push('/order/' + orderId)
            }
        },
        mounted: function () {
            this.getOrders();
        }
    }
</script>

<style scoped>

    .nothing{
        overflow: hidden;
        white-space: nowrap;
    }

</style>