
<template>
  <div id="app">
      <meta name="Tolcom" content="Shows products sold on tolcom and a lot more todo, family  friendly">
        <navbar></navbar>
      <!--keep this for other pages-->
    <router-view/>
  </div>
</template>


<script>
//import Products from './components/Products.vue'
import Navbar from "./components/Navbar";

export default {
    components: {
        'navbar': Navbar
    },
    data() {
        return {
        }
    },
    methods: {

    },
    mounted: function () {
    }
}
</script>

<style>

</style>
