.shopping-cart {
    margin: 20px 0;
    float: right;
    background: white;
    width: 320px;
    position: relative;
    border-radius: 3px;
    padding: 20px;
    right: 50%;
    border: 1px solid #80808045;
}

.badge {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}

.shopping-cart-total {
    float: right;
}

.shopping-cart-items {
    padding-top: 20px;
}

li {
    margin-bottom: 18px;
}

img {
    float: left;
    margin-right: 8px;
}

.item-name {
    display: block;
    padding-top: 5px;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.item-price {
    color: deepskyblue;
    margin-right: 8px;
}

.item-quantity {
    color: grey;
}

.shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}

.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.shopping-cart-container {
    margin: auto;
    width: 80%;
}

.dropdown-cart{
    right: 10%;
}


.dropdown-content{
    display: none !important;
    left: 30% !important;
}

#cart-remove {
    color: #ff1a00;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}

.shopping-cart-items-left{
    width: 90%;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.shopping-cart-items-right{
    padding-top: 10px;
    padding-left: 260px;
    margin-bottom: 45px;
 }